@charset "utf-8";

body {
    padding: 0px;
    margin: 0px auto;
    height: 100%;
    top: 0px;
    vertical-align: top;
    background-color: black;
}

#main {
    margin: 0px auto;
    padding: 0px;
    position: relative;
    top: 0px;
}

#content {
    background-image: url('../img/bg.png');
    width: 1440px;
    height: 900px;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    top: 0px;
}

#time
{
    position: relative;
    font-size: 60px;
    font-family: 'Impact', Charcoal, sans-serif;
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    font-family: 'Spirax', cursive;
    font-size: 50px;
    top: -20px;
    display: block;
    width: 260px;
    height: 100px;
    margin-top: 120px;
    margin-left: 290px;
    color: white;
    z-index: 4;
    position: relative;
}

#tab {
    opacity: .9;
    height: 260px;
    z-index: -3;
    width: 480px;
    position: absolute;
    top: 0px;
}

#info {
    position: absolute;
    float: left;
    width: 480px;
    left: -410px;
    top: 80px;
    height: 260px;
    clear: none;
    z-index: 20;
}

#text {
    color: white;
    font: 16px 'Abel', sans-serif;
    width: 220px;
    height: 220px;
    top: -200px;
    left: 170px;
    position: relative;
    text-align: left;
}

#twitter {
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -200px;
}

.twitter-hashtag-button {
    position: absolute;
    left: 772px;
    top: 537px;
    z-index: 10;
}

#twitter_bg {
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 369px;
    width: 400px;
    display: block;
    zoom: 1;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 200px;
    z-index: 0;
    opacity: .7;
}

#twitter_timeline {
    background-color: #ffffff;
    color: #444;
    font-family: 'lucida grande', lucida, tahoma, helvetica, arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0;
    position: absolute;
    text-align: left;
    width: 398px;
    zoom: 1;
    left: 50%;
    margin-left: -200px;
    top: 33px;
}

.twtr-join-conv {
    display: none !important;
}

#gypsy {
    color: #66CCFF;
    font-style: none;
    text-decoration: none;
}

#thanks {
    color: #66CCFF;
}

#facebook {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    top: 590px;
    width: 380px;
    z-index: 4;
}

#facebook-bg {
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    left: 50%;
    top: 580px;
    margin-left: -200px;
    width: 400px;
    height: 44px;
    background: #000000;
    opacity: .7;
    z-index: 1;
}

#message {
    width: 175px;
}

#return {
    width: 20px;
}
